@font-face {
    font-family: "hey";
    src: url(".././fonts/Peyda-Bold.ttf");
}

@font-face {
    font-family: "hey2";
    src: url(".././fonts/Peyda-Medium.ttf");
}

::selection {
    background-color: rgba(255, 208, 0, 0.692);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    scrollbar-color: #00b7ff #333;
    scroll-behavior: smooth;
    scrollbar-width: auto;
}

body {
    font-family: "hey";
    word-spacing: 3px;
    font-size: 0.85em;
    color: #fff;
}

button{
    cursor: pointer;
}